@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
td{
    border: none !important;
}
table{
    box-shadow: 0px 3px 10px -3px rgba(18,0,0,0.29);
    border:none !important;
    border-radius: 15px;
    border-collapse: unset;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
body{
    background-color: #e8fff7; 
    font-family:poppins;
    font-weight: 300; 
    width:99vw;
}
/* a:hover{
    color: red;
    text-decoration: none;
} */

#mynav{
    background-color: #cce0d9;
    padding: 8px; 
    margin-bottom: 8px;
}